In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import openaq
import warnings
import numpy as np
import statsmodels.api as sm
import sklearn
sklearn.__version__

warnings.simplefilter('ignore')

%matplotlib inline

# Set major seaborn asthetics
sns.set("notebook", style='ticks', font_scale=1.0)

# Increase the quality of inline plots
mpl.rcParams['figure.dpi']= 500

print ("pandas v{}".format(pd.__version__))
print ("matplotlib v{}".format(mpl.__version__))
print ("seaborn v{}".format(sns.__version__))
print ("openaq v{}".format(openaq.__version__))

pandas v1.4.4
matplotlib v3.5.2
seaborn v0.12.2
openaq v1.1.0

***FIRST REQUEST***

In [2]:
api = openaq.OpenAQ()

***CITIES***

El endpoint API de cities lista las ciudades disponibles dentro de la plataforma. Los resultados pueden ser subseleccionados por país y paginados para recuperar todos los resultados en la base de datos. Comencemos realizando una consulta básica con un límite aumentado (para que podamos obtener todas las ciudades) y devolverlo como un DataFrame:

In [3]:
resp = api.cities(df=True, limit=10000)

***DATACRAWLING API CITITES***

In [4]:
resp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    3276 non-null   object
 1   name       3276 non-null   object
 2   city       3276 non-null   object
 3   count      3276 non-null   int64
 4   locations  3276 non-null   int64
dtypes: int64(2), object(3)
memory usage: 128.1+ KB

In [5]:
resp=resp.dropna()

In [6]:
resp.isna().any()

country      False
name         False
city         False
count        False
locations    False
dtype: bool

In [7]:
resp.isna().sum()

country      0
name         0
city         0
count        0
locations    0
dtype: int64

In [8]:
print (resp.head(10))

  country       name       city  count  locations
0      US        007        007  55743          7
1      US        019        019   2112          1
2      US        037        037  48525         23
3      US        039        039   1140          1
4      US        047        047  47331          4
5      US        051        051    990          7
6      US        077        077   9982          1
7      CH     Aargau     Aargau  12162          1
8      MX    Abasolo    Abasolo   1095          1
9      US  ABBEVILLE  ABBEVILLE   4619          1

In [9]:
print (resp.query("country == 'IN'"))

     country           name           city    count  locations
28        IN       Agartala       Agartala   212295          4
29        IN           Agra           Agra  1290629         10
32        IN      Ahmedabad      Ahmedabad  1516674         18
41        IN         Aizawl         Aizawl   239586          2
42        IN          Ajmer          Ajmer   831131          4
...      ...            ...            ...      ...        ...
2656      IN  Visakhapatnam  Visakhapatnam  1133283          9
2667      IN      Vrindavan      Vrindavan   118368          3
2749      IN         Yadgir         Yadgir   329778          2
2756      IN    Yamunanagar    Yamunanagar       18          1
2757      IN   Yamuna Nagar   Yamuna Nagar   536475          1

[200 rows x 5 columns]

***COUNTRIES***

Similar al endpoint de ciudades, el endpoint de países lista los países disponibles. Los únicos parámetros con los que contamos son el límite y el número de página. Si queremos obtenerlos todos, podemos simplemente aumentar el límite al máximo (10000).

In [10]:
res = api.countries(limit=10000, df=True)

print (res.head())

  code     count  locations  cities                  name
0   AD    726810          3       2               Andorra
1   AE  23351954         32       9  United Arab Emirates
2   AF   3148590          3       2           Afghanistan
3   AG     94563          1       1                    AG
4   AJ     11668         10       1                    AJ

***DATA CRAWLING API COUNTRIES***

In [11]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   code       159 non-null    object
 1   count      159 non-null    int64
 2   locations  159 non-null    int64
 3   cities     159 non-null    int64
 4   name       159 non-null    object
dtypes: int64(3), object(2)
memory usage: 6.3+ KB

In [12]:
res=res.dropna()

In [13]:
res.isna().any()

code         False
count        False
locations    False
cities       False
name         False
dtype: bool

In [14]:
res.isna().sum()

code         0
count        0
locations    0
cities       0
name         0
dtype: int64

***PARAMETERS***

El endpoint de parámetros proporcionará un listado de todos los parámetros disponibles:

In [15]:
res = api.parameters(df=True)

print (res)

       id   name                                        description  \
0       1   pm10  Particulate matter less than 10 micrometers in...
1       2   pm25  Particulate matter less than 2.5 micrometers i...
2       3     o3                           Ozone mass concentration
3       4     co                 Carbon Monoxide mass concentration
4       5    no2                Nitrogen Dioxide mass concentration
5       6    so2                  Sulfur Dioxide mass concentration
6       7    no2                     Nitrogen Dioxide concentration
7       8     co                      Carbon Monoxide concentration
8       9    so2                       Sulfur Dioxide concentration
9      10     o3                                Ozone concentration
10     11     bc                    Black Carbon mass concentration
11     19    pm1  Particulate matter less than 1 micrometer in d...
12     21    co2                       Carbon Dioxide concentration
13     27    nox                 Nitrogen Oxides mass concentration
14     28    ch4                              Methane concentration
15     33    ufp            Ultrafine Particles count concentration
16     35     no                    Nitrogen Monoxide concentration
17    126  um010                                          PM1 count
18    130  um025                                        PM2.5 count
19    135  um100                                         PM10 count
20  19840    nox                      Nitrogen Oxides concentration
21  19843     no               Nitrogen Monoxide mass concentration
22  19844    pm4  Particulate matter less than 4 micrometers in ...

    preferredUnit
0           µg/m³
1           µg/m³
2           µg/m³
3           µg/m³
4           µg/m³
5           µg/m³
6             ppm
7             ppm
8             ppm
9             ppm
10          µg/m³
11          µg/m³
12            ppm
13          µg/m³
14            ppm
15  particles/cm³
16            ppm
17  particles/cm³
18  particles/cm³
19  particles/cm³
20            ppm
21          µg/m³
22          µg/m³

***DATA CRAWLING API PARAMETERS***

In [16]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             23 non-null     int64
 1   name           23 non-null     object
 2   description    23 non-null     object
 3   preferredUnit  23 non-null     object
dtypes: int64(1), object(3)
memory usage: 864.0+ bytes

In [17]:
res=res.dropna()

In [18]:
res.isna().any()

id               False
name             False
description      False
preferredUnit    False
dtype: bool

In [19]:
res.isna().sum()

id               0
name             0
description      0
preferredUnit    0
dtype: int64

***SOURCES***

El endpoint de sources proporcionará una lista de las fuentes de donde provino la información cruda.

In [20]:
res = api.sources(df=True)

# Print out the first one
print (res)

                                                  url      adapter  \
0   http://agaar.mn/aqdata/stationlist?period=h&la...     agaar_mn
1                        http://files.airnowtech.org/  airnow-http
2                                   ftp.airnowapi.org   airnow-ftp
3   http://www.dpccairdata.com/dpccairdata/display...        india
4   http://www.juntadeandalucia.es/medioambiente/s...    andalucia
..                                                ...          ...
95  http://dosairnowdata.org/dos/RSS/Accra/Accra-P...     stateair
96  http://dosairnowdata.org/dos/RSS/AddisAbabaCen...     stateair
97  http://dosairnowdata.org/dos/RSS/AddisAbabaSch...     stateair
98  http://dosairnowdata.org/dos/RSS/Algiers/Algie...     stateair
99  http://dosairnowdata.org/dos/RSS/Amman/Amman-P...     stateair

                            name         city country  \
0                       Agaar.mn  Ulaanbaatar      MN
1                         AirNow
2                     AirNow FTP
3                    Anand Vihar        Delhi      IN
4                      Andalucia         None      ES
..                           ...          ...     ...
95                StateAir_Accra        Accra      GH
96  StateAir_Addis_Ababa_Central  Addis Ababa      ET
97   StateAir_Addis_Ababa_School  Addis Ababa      ET
98              StateAir_Algiers      Algiers      DZ
99                StateAir_Amman        Amman      JO

                                          description  \
0
1       AirNow adapter using files streamed over http
2
3
4   Data for Andalucia from its Ministry of Enviro...
..                                                ...
95
96
97
98
99

                                            sourceURL resolution  \
0                               http://agaar.mn/index       1 hr
1                              http://www.airnow.gov/       None
2                              http://www.airnow.gov/       None
3   http://www.dpccairdata.com/dpccairdata/display...     15 min
4   http://www.juntadeandalucia.es/medioambiente/a...       None
..                                                ...        ...
95  http://dosairnowdata.org/dos/RSS/Accra/Accra-P...       None
96                                https://airnow.gov/       None
97                                https://airnow.gov/       None
98                           http://stateair.net/dos/       None
99                           http://stateair.net/dos/       None

             contacts  active
0   [info@openaq.org]   False
1   [info@openaq.org]    True
2   [info@openaq.org]   False
3   [info@openaq.org]   False
4   [info@openaq.org]    True
..                ...     ...
95  [info@openaq.org]    True
96  [info@openaq.org]    True
97  [info@openaq.org]    True
98  [info@openaq.org]    True
99  [info@openaq.org]    True

[100 rows x 10 columns]

***DATA CRAWLING SOURCES***

In [21]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   url          100 non-null    object
 1   adapter      100 non-null    object
 2   name         100 non-null    object
 3   city         89 non-null     object
 4   country      100 non-null    object
 5   description  99 non-null     object
 6   sourceURL    100 non-null    object
 7   resolution   37 non-null     object
 8   contacts     100 non-null    object
 9   active       100 non-null    bool
dtypes: bool(1), object(9)
memory usage: 7.3+ KB

In [22]:
res=res.dropna()

In [23]:
res.isna().any()

url            False
adapter        False
name           False
city           False
country        False
description    False
sourceURL      False
resolution     False
contacts       False
active         False
dtype: bool

In [24]:
res.isna().sum()

url            0
adapter        0
name           0
city           0
country        0
description    0
sourceURL      0
resolution     0
contacts       0
active         0
dtype: int64

***LATEST***

Obtiene los datos más recientes de una o varias ubicaciones.

En este caso en la talba siguiente a esta probamos la misma ¿Cuál fue el valor más reciente de PM2.5 en Delhi?

In [25]:
res = api.latest(city='Hilo', parameter='so2', df=True)

res

,parameter,value,unit,sourceName,country,city,location,averagingPeriod.value,averagingPeriod.unit
lastUpdated,,,,,,,,,
2023-03-26 04:00:00+00:00,so2,0.000,ppm,AirNow,US,Hilo,Hawaii Volcanoes NP,3600,seconds
2023-03-26 04:00:00+00:00,pm25,8.000,b'\xc2\xb5g/m\xc2\xb3',AirNow,US,Hilo,Pahala,3600,seconds
2023-03-26 04:00:00+00:00,so2,0.000,ppm,AirNow,US,Hilo,Pahala,3600,seconds
2023-03-26 04:00:00+00:00,so2,0.000,ppm,AirNow,US,Hilo,Kona,3600,seconds
2023-03-26 04:00:00+00:00,pm25,4.000,b'\xc2\xb5g/m\xc2\xb3',AirNow,US,Hilo,Kona,3600,seconds
2023-03-26 04:00:00+00:00,pm25,0.000,b'\xc2\xb5g/m\xc2\xb3',AirNow,US,Hilo,Hilo,3600,seconds
2023-03-26 04:00:00+00:00,so2,0.000,ppm,AirNow,US,Hilo,Hilo,3600,seconds
2023-03-26 04:00:00+00:00,so2,0.001,ppm,AirNow,US,Hilo,Ocean View,3600,seconds
2023-03-26 04:00:00+00:00,pm25,2.000,b'\xc2\xb5g/m\xc2\xb3',AirNow,US,Hilo,Ocean View,3600,seconds
2018-07-02 20:00:00+00:00,so2,0.178,ppm,AirNow,US,Hilo,Hawaii Volcanoes NP,3600,seconds
2018-06-21 23:00:00+00:00,so2,0.000,ppm,AirNow,US,Hilo,Mountain View,3600,seconds
2017-01-26 17:00:00+00:00,so2,0.002,ppm,AirNow,US,Hilo,Puna E Station,3600,seconds

***DATA CRAWLING LATEST***

In [26]:
res.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2023-03-26 04:00:00+00:00 to 2017-01-26 17:00:00+00:00
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   parameter              12 non-null     object
 1   value                  12 non-null     float64
 2   unit                   12 non-null     object
 3   sourceName             12 non-null     object
 4   country                12 non-null     object
 5   city                   12 non-null     object
 6   location               12 non-null     object
 7   averagingPeriod.value  12 non-null     int64
 8   averagingPeriod.unit   12 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 960.0+ bytes

In [27]:
res=res.dropna()

In [28]:
res.isna().any()

parameter                False
value                    False
unit                     False
sourceName               False
country                  False
city                     False
location                 False
averagingPeriod.value    False
averagingPeriod.unit     False
dtype: bool

In [29]:
res.isna().sum()

parameter                0
value                    0
unit                     0
sourceName               0
country                  0
city                     0
location                 0
averagingPeriod.value    0
averagingPeriod.unit     0
dtype: int64

***MEASUREMENTS***

Finalmente, ¡el endpoint que todos hemos estado esperando! Measurements te permite obtener ¡todos los datos! Puedes consultar sobre una gran cantidad de parámetros que se encuentran listados en la documentación de la API. Vamos a sumergirnos:

Obtengamos los últimos 10000 puntos de datos para PM2.5 en Delhi:

In [30]:
res = api.measurements(city='Delhi', parameter='pm25', limit=10000, df=True)

# Print out the statistics on a per-location basiss
res.groupby(['location'])['value'].describe()

,count,mean,std,min,25%,50%,75%,max
location,,,,,,,,
"Alipur, Delhi - DPCC",233.0,57.107296,40.764268,0.00,29.0000,53.000,83.0000,290.00
"Anand Vihar, Delhi - DPCC",1.0,283.000000,NaN,283.00,283.0000,283.000,283.0000,283.00
"Ashok Vihar, Delhi - DPCC",365.0,54.131507,36.804790,0.00,25.0000,48.000,77.0000,277.00
"Aya Nagar, Delhi - IMD",160.0,37.006188,40.657587,-212.75,14.9900,32.395,58.0925,212.54
"Bawana, Delhi - DPCC",286.0,53.877622,39.713832,2.00,23.0000,48.000,77.0000,296.00
"CRRI Mathura Road, Delhi - IMD",122.0,50.537623,35.674027,0.00,23.7575,48.370,73.9300,224.72
"DTU, Delhi - CPCB",425.0,42.849412,113.939143,6.00,18.0000,26.000,35.0000,1000.00
"Dr. Karni Singh Shooting Range, Delhi - DPCC",2.0,154.500000,127.986327,64.00,109.2500,154.500,199.7500,245.00
"Dwarka-Sector 8, Delhi - DPCC",382.0,53.188482,34.259333,1.00,27.0000,47.000,78.0000,246.00
"IGI Airport (T3), Delhi - IMD",244.0,48.230738,33.170737,-138.33,25.3825,46.365,71.3750,126.87
"IHBAS, Dilshad Garden, Delhi - CPCB",305.0,60.798033,32.243044,0.00,40.9000,58.700,80.3000,259.80
"ITO, Delhi - CPCB",411.0,67.447689,39.454810,0.00,40.0000,58.000,98.5000,211.00
"Jahangirpuri, Delhi - DPCC",185.0,64.659459,51.961396,1.00,16.0000,57.000,102.0000,250.00
"Jawaharlal Nehru Stadium, Delhi - DPCC",273.0,49.538462,35.352627,0.00,17.0000,45.000,74.0000,235.00
"Lodhi Road, Delhi - IMD",123.0,43.804309,30.604439,0.00,18.6450,40.160,63.3500,150.11
"Major Dhyan Chand National Stadium, Delhi - DPCC",356.0,53.918539,34.946826,1.00,28.0000,51.000,74.2500,228.00
"Mandir Marg, Delhi - DPCC",326.0,34.760736,23.802607,0.00,16.0000,31.000,48.0000,136.00
"Mundka, Delhi - DPCC",344.0,58.168605,40.631395,0.00,27.0000,52.500,80.2500,239.00
"NSIT Dwarka, Delhi - CPCB",412.0,78.679126,72.370103,0.00,36.5000,73.850,103.4000,938.70
"Najafgarh, Delhi - DPCC",304.0,39.473684,29.654100,0.00,15.5000,35.000,61.0000,204.00
"Narela, Delhi - DPCC",371.0,51.973046,42.018649,0.00,22.0000,44.000,72.0000,296.00
"Nehru Nagar, Delhi - DPCC",357.0,57.602241,39.413663,0.00,30.0000,55.000,84.0000,280.00
"North Campus, DU, Delhi - IMD",306.0,60.722190,39.412235,0.00,32.0950,57.775,82.3725,199.39
"Okhla Phase-2, Delhi - DPCC",305.0,51.232787,36.180217,0.00,24.0000,47.000,77.0000,266.00
"Patparganj, Delhi - DPCC",386.0,57.220207,41.397041,1.00,25.0000,51.000,84.7500,256.00
"Punjabi Bagh, Delhi - DPCC",337.0,63.032641,39.197555,1.00,33.0000,56.000,85.0000,211.00
"Pusa, Delhi - DPCC",450.0,46.891289,45.733956,-403.62,20.2575,50.000,69.9025,222.00
"R K Puram, Delhi - DPCC",347.0,58.342939,38.500814,0.00,28.0000,55.000,83.0000,268.00
"Rohini, Delhi - DPCC",282.0,57.556738,38.527136,1.00,28.0000,51.500,85.0000,238.00
"Shadipur, Delhi - CPCB",445.0,84.298652,185.009845,0.00,25.1000,54.600,109.6000,3069.80
"Sirifort, Delhi - CPCB",433.0,56.099307,83.565409,0.00,17.0000,47.000,76.0000,1000.00
"Sonia Vihar, Delhi - DPCC",358.0,56.972067,37.474089,0.00,29.0000,51.500,81.0000,310.00
"Sri Aurobindo Marg, Delhi - DPCC",312.0,43.810897,29.937869,1.00,23.7500,41.000,58.0000,232.00
US Diplomatic Post: New Delhi,4251.0,104.303928,204.084435,-999.00,62.0000,111.000,183.5000,701.00
"Vivek Vihar, Delhi - DPCC",388.0,57.626289,40.164546,0.00,22.2500,56.000,81.0000,287.00
"Wazirpur, Delhi - DPCC",375.0,62.008000,38.412098,0.00,32.0000,57.000,85.0000,210.00

In [31]:
res = api.measurements(city='Delhi', parameter='pm25', limit=10000, df=True)

# Print out the statistics on a per-location basiss
res

,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude
date.local,,,,,,,,,
2023-03-26 11:00:00,US Diplomatic Post: New Delhi,pm25,33.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-26 05:30:00+00:00,28.635760,77.224450
2023-03-26 10:00:00,US Diplomatic Post: New Delhi,pm25,45.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-26 04:30:00+00:00,28.635760,77.224450
2023-03-26 09:00:00,US Diplomatic Post: New Delhi,pm25,58.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-26 03:30:00+00:00,28.635760,77.224450
2023-03-26 08:00:00,US Diplomatic Post: New Delhi,pm25,65.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-26 02:30:00+00:00,28.635760,77.224450
2023-03-26 07:00:00,US Diplomatic Post: New Delhi,pm25,53.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2023-03-26 01:30:00+00:00,28.635760,77.224450
...,...,...,...,...,...,...,...,...,...
2022-09-26 05:30:00,"NSIT Dwarka, Delhi - CPCB",pm25,9.5,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2022-09-26 00:00:00+00:00,28.609090,77.032541
2022-09-26 05:15:00,"ITO, Delhi - CPCB",pm25,71.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2022-09-25 23:45:00+00:00,28.628624,77.241060
2022-09-26 05:15:00,"DTU, Delhi - CPCB",pm25,21.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2022-09-25 23:45:00+00:00,28.750050,77.111261
2022-09-26 05:15:00,"Sirifort, Delhi - CPCB",pm25,37.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2022-09-25 23:45:00+00:00,28.550425,77.215938
2022-09-26 05:00:00,US Diplomatic Post: New Delhi,pm25,37.0,b'\xc2\xb5g/m\xc2\xb3',IN,Delhi,2022-09-25 23:30:00+00:00,28.635760,77.224450

***DATA CRAWLING MEASURMENTS***

In [32]:
res.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14962 entries, 2023-03-26 11:00:00 to 2022-09-26 05:00:00
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   location               14962 non-null  object
 1   parameter              14962 non-null  object
 2   value                  14962 non-null  float64
 3   unit                   14962 non-null  object
 4   country                14962 non-null  object
 5   city                   14962 non-null  object
 6   date.utc               14962 non-null  datetime64[ns, UTC]
 7   coordinates.latitude   14962 non-null  float64
 8   coordinates.longitude  14962 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(3), object(5)
memory usage: 1.1+ MB

In [33]:
res=res.dropna()

In [34]:
res.isna().any()

location                 False
parameter                False
value                    False
unit                     False
country                  False
city                     False
date.utc                 False
coordinates.latitude     False
coordinates.longitude    False
dtype: bool

In [35]:
res.isna().sum()

location                 0
parameter                0
value                    0
unit                     0
country                  0
city                     0
date.utc                 0
coordinates.latitude     0
coordinates.longitude    0
dtype: int64